
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
  
  /* shared styles */
  .cart{
    color: #000000;
  }
  .fresh{
    color: #E95A08;
  }
  
  
  /* header styles */
  header, main{
    max-width: 1140px;
    margin: 30px auto;
    
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 100px;
    /* margin: 30px auto; */
    
  }
  .nav-links{
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .nav-item, .footer-links {
    list-style: none;
  }
  .nav-link, .footer-link{
    text-decoration: none;
    color: #8987A1;
  }
  .nav-lin{
    text-decoration: none;
  }
  .home{
    color: #252432;
    font-weight: 700;
    font-size: 2rem;
  }
  /* banner styles */
  .banner{
    display: flex;
    align-items: end;
  }
  .banner-item{
    /* width: 670px; */
    /* height: 299px; */
    /* border: 3px solid tomato; */
  }
  
  
  .banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin: 0px auto;
  }
  .banner-description{
    margin: 0px auto;
    font-size: 1.37rem;
    
  }

/* plants section styles */
.container{
    text-align: center;
}
.section-title{
    font-weight: bold;
    font-size: 3.12rem;
    margin-bottom: 0px;
}
.section-description{
    font-size: 1.37rem;
    margin-top: 3px;
    margin-bottom: 50px;
}
/* card styles */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card{
    max-width: 270px;
    height: 484.94px;
    text-align: center;
}
.card-img{
    width: 100%;
    height: 322.94px;
}
.card-name{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.37rem;
    font-weight: 500;
}
.card-item{
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.37rem;
}
.btn-primary{
    width: 100%;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 500;
    height: 50px;
    border: none;
}
/* lover section */
.badge{
    width: 280px;
    height: 280px;
    margin-left: -220px;
    margin-right: -93px;
    margin-top: -120px;
}

.lover-container{
    display: flex;
    gap: 60px;
    margin-top: 200px;
}

.lover-title{
    font-weight: bold;
    font-size: 3.12rem;
    /* margin-top: 30px; */
    margin: 10px auto;
}
.lover-item{
    max-width: 540px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.lover-img{
    max-width: 540px;
}
.lover-description{
    font-size: 1.37rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
    
/* deals section styles */
.deals-container{
    text-align: center;
}
.deals-title{
    font-weight: bold;
    font-size: 3.12rem;
    margin-bottom: 0px;
}
.deals-description{
    font-size: 1.37rem;
    max-width: 888px;
    margin: 0px auto;
}
/* shop section styles */
.shop-container{
    display: flex;
    gap: 20px;
    height: 432px;
    margin: 120px auto;
    
}
.shop-item{
    background-image: url("../image/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 75%;
    /* border: 2px solid tan; */
    text-align: center;
    border-radius: 22px;
    align-content: center;
}
.shop-items{
    width: 25%;
    /* border: 3px solid tomato; */
    }


.shop-links-one{
    background-image: url("../image/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.4; */
    height: calc(50% - 10px);
    border-radius: 14px;
    text-align: center;
    align-content: center;
    
}

.shop-links-two{
    background-image: url("../image/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    text-align: center;
    border-radius: 14px;
    height: calc(50% - 10px);
    margin-top: 20px;
    align-content: center;
}
.shop-title{
    padding-top: 0px;
    margin: 0px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}
.shop-titles{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 100px;
}
.shop-links{
    color: white;
    font-weight: 500;
    font-size: 1.75rem;
}
.shop-link{
    color: white;
    font-weight: 500;
    font-size: 1rem;
}


/* footer styles */

.footer-one{
    background-image: url("../image/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    /* margin-top: 100px; */
    
}
.footer-container-one{
    
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: rgba(7, 51, 79, 0.4);
    height: 533px;
    width: 100%;
    z-index: 1;
    
}
.footer-input{
    width: 830px;
    height: 49px;
    padding-left: 15px;
}
.btn-footer{
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 500;
    height: 52px;
    border: none;
    width: 180px;
    
}
.footer-title{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    color: white;
    margin-top: 170px;
}

.input-container{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
     position: relative;
    z-index: 2;
    
}

.footer-icons{
    display: flex;
    gap: 10px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    /* max-width: 1120px; */
    /* justify-items: center; */
    margin: 50px 160px;
    gap: 20px;

    
}
.footer-logo{
    width: 359px;
}
.footer-logo p{
    font-size: 1.37rem;
}
.footer-icons img{
    width: 36px;
    height: 36px;
}

  @media screen and (max-width:576px) {
    .nav-link{
        display: none;
    }

     
    
    .banner{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
    /* lover section */
    .lover-container, .footer-container{
        flex-direction: column;
        margin: 20px auto;
        gap: 10px;
    }
    .badge{
        display: none;
    }
    .lover-img{
        width: 100%;
    }
    .lover-item{
        width: 100%;
        margin: 10px auto;
    }
    /* footer section */
    .footer-input{
        width: calc(100% - 60px);
       margin-left: 30px;
        
    }
    .btn-footer{
        margin-right: 30px;
    }
    /* shop section */
    .shop-container{
        flex-direction: column;
        height: auto;
        margin: 40px 20px;
        gap: 20px;
    }
    .shop-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    /* .shop-items,
    .shop-item {
       width: 100%;
       height: 200px;
    } */

    .shop-links-one,
    .shop-item,
    .shop-links-two {
        width: 100%;
        height: 200px;
        margin-top: 10px;
        border-radius: 14px;
    }

    .shop-title,
    .shop-titles {
       font-size: 1.25rem;
    }

    .shop-link,
    .shop-links {
      font-size: 1rem;
  }
   
    
    
    /* .shop-titles{
        margin: 30px auto;
        margin-bottom: 0px;
       
    } */
    
}