
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
  
  /* shared styles */
  .cart{
    color: #000000;
  }
  .fresh{
    color: #E95A08;
  }
  
  
  /* header styles */
  header, main{
    max-width: 1140px;
    margin: 30px auto;
    
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 100px;
    /* margin: 30px auto; */
    
  }
  .nav-links{
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .nav-item{
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
    color: #8987A1;
  }
  .nav-lin{
    text-decoration: none;
  }
  .home{
    color: #252432;
    font-weight: 700;
    font-size: 2rem;
  }
  /* banner styles */
  .banner{
    display: flex;
    align-items: end;
  }
  .banner-item{
    /* width: 670px; */
    /* height: 299px; */
    /* border: 3px solid tomato; */
  }
  
  
  .banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin: 0px auto;
  }
  .banner-description{
    margin: 0px auto;
    font-size: 1.37rem;
    
  }

/* plants section styles */
.container{
    text-align: center;
}
.section-title{
    font-weight: bold;
    font-size: 3.12rem;
    margin-bottom: 0px;
}
.section-description{
    font-size: 1.37rem;
    margin-top: 3px;
    margin-bottom: 50px;
}
/* card styles */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card{
    max-width: 270px;
    height: 484.94px;
    text-align: center;
}
.card-img{
    width: 100%;
    height: 322.94px;
}
.card-name{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.37rem;
    font-weight: 500;
}
.card-item{
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.37rem;
}
.btn-primary{
    width: 100%;
    background-color: #E95A08;
    font-size: 1rem;
    font-weight: 500;
    height: 50px;
    border: none;
}
/* lover section */
.lover-container{
    display: flex;
    gap: 60px;
    margin-top: 200px;
}

.lover-title{
    font-weight: bold;
    font-size: 3.12rem;
    /* margin-top: 30px; */
    margin: 10px auto;
}
.lover-item{
    max-width: 540px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.lover-img{
    max-width: 540px;
}
.lover-description{
    font-size: 1.37rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
    


  @media screen and (max-width:576px) {
    .nav-link{
        display: none;
        
        }
    .banner{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .lover-container{
        flex-direction: column;
        margin: 20px auto;
    }
    .lover-img{
        width: 100%;
    }
    .lover-item{
        width: 100%;
        margin: 10px auto;
        
    }
    
}